.user-card-body {
  background-color: rgba(173, 15, 36, 0.5);
  border: none;
}
.user-text {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#user-card {
  background-color: rgba(0, 0, 0, 0);
}

.sign-form {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

::placeholder {
  color: #efb6ac !important;
}
