.phonitaurImg {
  max-width: 300px;
  height: auto;
  margin: 1em;
}

.enter-button {
  background-color: rgba(173, 15, 36, 0.5) !important;
  color: white !important;
  font-family: 'Staatliches', cursive;
  min-width: 150px;
  font-size: 30px !important;
}

.enter-button:hover {
  background-color: rgba(173, 15, 36, 0.8);
}

.phon-header {
  font-family: 'Staatliches', cursive;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  color: #333333;
}

.phon-second {
  font-family: 'Ubuntu', sans-serif !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: .3em;
  color: rgba(96, 96, 96, .8);
  z-index: 2;
}

.phon-third {
  font-family: 'Ubuntu', sans-serif !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: .7em;
  color: rgba(206, 206, 206, .5);
  z-index: 1;
}

.phon-fourth {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 1em;
  color: rgba(234, 234, 234, .2);
  z-index: 0;
}

.or {
  color: rgba(193, 207, 244, 0.8);
  font-family: 'Staatliches', cursive;
}
