.user-card-body {
  background-color: rgba(173, 15, 36, 0.5);
  border: none;
}

#user-card {
  background-color: rgba(0, 0, 0, 0);
}

.auth-button {
  min-width: 200px;
  font-size: 40px !important;
  background-color: rgba(173, 15, 36, 0.8) !important;
  border: none !important;
  font-family: 'Staatliches', cursive;
}

.auth-button:hover {
    background-color: rgba(173, 15, 36, 1) !important;
}
