.lesson-card-body {
  background-color: rgba(173, 15, 36, 0.5);
  border: none;
  width: 100% !important;
}

.done-card-body {
  background-color: rgb(6, 109, 1);
}

#prog-card{
  background-color: rgba(0,0,0,0);
  width: 100% !important;
}

#lesson-card{
  background-color: rgba(0,0,0,0);
}

#question-card{
  background-color: rgba(0,0,0,0);
}

.instro-btn{
  width: 100%;
  font-family: "Staatliches", cursive;
  font-size: 20px !important;
}

.symbol-text{
  font-family: 'Palatino Linotype', serif;
}

.prog-sect {
  width: 100%;
}

.prog-text {
  font-family: 'Staatliches', cursive;
}
