.user-card {
  border: none;
}

.user-card-body {
  background-color: rgba(173, 15, 36, 0.5);
  border: none;
  min-height: 250px;
}

.user-img {
  max-width: 120px;
  height: auto;
}

.user-text {
  font-family: 'Ubuntu', sans-serif !important;
}

#userCard {
  background-color: rgba(0, 0, 0, 0);
  min-height: 250px;
}

#linksCard {
  background-color: rgba(0, 0, 0, 0);
  min-height: 250px;
}

.links-btn {
  width: 100%;
}

.btn-text {
  font-family: 'Staatliches', cursive;
  font-size: 20px !important;
}

#username {
  font-family: 'Staatliches', cursive !important;
  font-size: 50px !important;
}
