.nav-head {
  font-family: 'Ubuntu', sans-serif !important;
}

.nav-title {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
}

.nav-but {
  color: white !important;
}

.nav-but:hover {
  text-decoration: none;
  color: #892626 !important;
}

.my-nav {
  background-color: rgba(173, 15, 36, 0.5);
}

.nav-top{
  font-size: 25px;
}

@media(orientation: portrait){
  .nav-head{
    visibility: hidden;
  }
}
