.nav-head {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav-but {
  color: white;
}

.nav-but:hover {
  text-decoration: none;
  color: #892626;
}

.my-nav {
  background-color: rgba(173, 15, 36, 0.5);
}

.nav-top{
  font-size: 25px;
}
