body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: url('./images/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
